<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.oj.mapper.ReplyFavourMapper">

    <resultMap id="BaseResultMap" type="com.yupi.oj.model.entity.ReplyFavour">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="replyId" column="replyId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="listFavourReplyByPage" resultType="com.yupi.oj.model.entity.PostReply">
        select p.*
        from post_reply p
                 join (select replyId from reply_favour where userId = #{favourUserId}) pf
                      on p.id = pf.replyId ${ew.customSqlSegment}
    </select>
    <sql id="Base_Column_List">
        id,replyId,userId,
        createTime,updateTime
    </sql>
</mapper>
